# dependencies
/node_modules

# production build
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
Thumbs.db

# Windows hidden files
Desktop.ini

# Optional: if you're using coverage tools
coverage/

# Optional: parcel or other tools
.cache/
